<a href="https://colab.research.google.com/github/10KimJunGu/pythonadv/blob/main/12_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%A0%95%EC%9D%98_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 함수**

* 변수 x, y에 대해 x값이 정해지면 그에 따라 y값이 결정되는 것
* 반복적으로 사용되는 가치 있는 부분을 묶어서 하나의 집합으로 만듬
* 코드를 재활용하기 위한 목적

### **1-1. 이름만 있는 함수**

```
def 함수명():
  함수가 호출되면 실행할 문장
  ...
```

```
함수명() # 호출
```

In [ ]:

def func1():
  print('처음으로 만드는 함수!')

In [ ]:
func1()
func1()

처음으로 만드는 함수!
처음으로 만드는 함수!

In [ ]:
for i in range(5):
  func1()

처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!

1-2. 매개변수(parameter)가 있는 함수

```
def 함수명(변수1, 변수2...):
  함수가 호출되면 실행할 문장
  ...
```

```
함수명(값1, 값2 ..) # 호출
```

In [ ]:

def func2(num):
  # print('입력받은 숫자 : %d' %num)
  print(f'입력받은 숫자 : {num}')

In [ ]:
func2(10)
func2(30)

입력받은 숫자 : 10
입력받은 숫자 : 30

In [ ]:
def func3(start, end):
  sum = 0
  for i in range(start, end + 1, 1):
    sum += i
  # print(start, "부터 ", end, "까지의 합 : ", sum)
  print(f'{start}부터 {end} 까지의 합 : {sum}')

In [ ]:
func3(1,10)
func3(1,100)
func3(10,50)

1부터 10 까지의 합 : 55
1부터 100 까지의 합 : 5050
10부터 50 까지의 합 : 1230

### **1-3. 리턴값이 있는 함수**

```
def 함수명(변수1, 변수2, ...):
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
변수 = 함수명(값1, 값2..) # 호출
```

In [ ]:

def func4():
  return '❤️'

In [ ]:
print(func4())

❤️

In [ ]:
present = func4()
print(present)

❤️

In [ ]:
def func5(num1, num2):
  return num1 + num2

In [ ]:
print(func5(10,5))

15

In [ ]:
result = func5(10,5)
print(f'두 수의 합 : {result}')

두 수의 합 : 15

### **1-4. 디폴트 매개변수**
```
def 함수명(변수1, 변수2=값2 ..):
  함수를 호출하면 실행할 문장
  ...
  return 값
```

```
  함수명(값1) # 호출1
  함수명(값1, 값2...) # 호출2 
```

In [ ]:
def func6(num1, num2 = 0):
  return num1 * num2

In [ ]:
print(func6(10))
print(func6(10,3))

0
30

### **1-5. 매개변수의 개수가 가변적인 함수**

```
def 함수명(*변수):
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
함수명(값1) # 호출1
함수명(값1, 값2, ...) # 호출2
```

> 매개변수는 함수안에서 튜플형태로 사용

In [ ]:
def func7(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
print(func7(10))
print(func7(10,30,20,70,50))

10
180

### **1-6. 매개변수를 딕셔너리 구조로 전달받는 함수**

```
def 함수명(**매개변수):
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
함수명(변수1=값1, 변수2=값2 ..) # 호출
```

In [ ]:
def func8(**args):
  return args

user= func8(userid='apple', name='김사과', age = 20)
print(user)

{'userid': 'apple', 'name': '김사과', 'age': 20}

```
def 함수명(변수1, 변수2 ..):
  함수가 호출되면 실행될 문장
  ...
  return 값1, 값2, ..
```

```
변수1, 변수2, ... = 함수명(값1, 값2, ..)
```

In [ ]:
def func9(num1, num2):
  return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [ ]:
result1, result2, result3, result4 = func9(10,3)
print(result1, result2, result3, result4)

13 7 30 3.3333333333333335

### **문제.**
데이터 90, 80, 50, 100, 70을 매개변수로 전달해서 최대값, 최소값을 출력하는 함수를 만들어 활용해보자  
(단, return을 사용, 내장함수를 사용하지 않음)

In [ ]:
def maxmin(*args):  # (90, 80 , 50, 100, 70)
  max, min = args[0], args[0]
  for i in args:
    if max < i:
      max = i
    
    if min > i:
      min = i
  return max, min

In [ ]:
max, min = maxmin(90, 80 , 50, 100, 70)
print('최대값 : ', max)
print('최소값 : ', min)

최대값 :  100
최소값 :  50

In [ ]:
max, min = maxmin(123,21,4,5346,234,12,1,5,6453)
print('최대값 : ', max)
print('최소값 : ', min)

최대값 :  6453
최소값 :  1