<a href="https://colab.research.google.com/github/10KimJunGu/pythonadv/blob/main/13_%EB%9E%8C%EB%8B%A4%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 1. 람다 함수

# 단일문으로 표현되는 익명함수
# 코드상에서 한번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 일회성으로 만들어 사용할 때
# 함수 또한 클래스를 통해 생성된 객체


def square1(x):
  return x ** 2

print(square1(10))

100

def 함수명(변수): return 값

=

lambda 변수 : 값

In [2]:
square2 = lambda x: x ** 2
print(square2(7))

49

In [3]:
(lambda x: x ** 2)(8)

64

In [4]:
def myKey(str):
  return len(str.strip())

In [5]:
target = ['   app', ' bana', 'orange    ', 'melon']
print(sorted(target,key=myKey))          # sort는 오름차순정렬

['   app', ' bana', 'melon', 'orange    ']

In [6]:
print(sorted(target,key=lambda x: len(x.strip())))

['   app', ' bana', 'melon', 'orange    ']

In [7]:
add2 = lambda x, y: x * y

print(add2(10, 5))

50

In [8]:
# 2. filter 함수

# 람다가 유용하게 사용되는 대표적인 함수
# 특정 조건을 만족하는 요소만 남기고 필터링



nums = [1,2,3,4,6,9,10,14,15,18,20]

print(list(filter(lambda n:n %2 == 0, nums)))

[2, 4, 6, 10, 14, 18, 20]

In [10]:
# map함수

# 함수형 프로그래밍의 기본 요소
# 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 반환

nums = [1,2,3,4,6,9,10,14,15,18,20]

print(list(map(lambda n: n ** 2, nums)))

[1, 4, 9, 16, 36, 81, 100, 196, 225, 324, 400]

In [12]:
nums = [1,2,3,4,6,9,10,14,15,18,20]

print(list(filter(lambda n : n % 2 == 0 , map(lambda n: n ** 2, nums))))

[4, 16, 36, 100, 196, 324, 400]