<a href="https://colab.research.google.com/github/10KimJunGu/pythonadv/blob/main/2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 출력 서식 지정하기

# 1. %d(정수) , %f(실수) , %s(문자열)를 사용하여 출력 서식을 지정
# 2. 서식을 제외한 문자는 입력한 그대로 출력
# 3. 서식을 지정해 출력할 데이터가 2개 이상일 경우 ()로 데이터를 묶어야 함

In [6]:
print('%d' %100)
print('%d' %100.12)

print('%f' %100.12)

print('%s' %'python')
print('%s' %100)

print('%d + %d = %d' %(5,3,5+3))

100
100
100.120000
python
100
5 + 3 = 8

In [9]:
print('%5d' %100)
print('%5d' %10000)

print('%05d' %100)

  100
10000
00100

In [12]:
print('%6.2f' %123.45)
print('%6.2f' %123.4567)  # 반올림
print('%6.2f' %123.4)   # 남은 자리는 0으로 채움

123.45
123.46
123.40

In [13]:
print('%5s' %'abc')

  abc

In [15]:
# 5 / 3 = ?

print('%d / %d = %d' %(5, 3, 5/3))  # 결과를 %d로 출력하면 정수로 출력
print('%d / %d = %f' %(5, 3, 5/3))  # 결과를 %f로 출력하면 정수로 출력

5 / 3 = 1
5 / 3 = 1.666667

In [17]:
# format함수와 출력 인덱스 함수

# 인덱스 : 0부터 순서대로 진행되는 정수

print('{0} {1}'. format('김사과', '반하나'))
print('{1} {0}'. format('김사과', '반하나'))

김사과 반하나
반하나 김사과

In [19]:
print('{0:3s}님은 {1:03d}살입니다.' .format('김사과',20))
print('{0}님의 키는 {1:6.2f}cm입니다.' .format('류정원', 182.5))

김사과님은 020살입니다.
류정원님의 키는 182.50cm입니다.