<a href="https://colab.research.google.com/github/10KimJunGu/pythonadv/blob/main/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1. 리스트

# 여러가지 데이터를 ,(콤마)로 구분하여 [ ] (대괄호)로 감싼 자료구조

li1 = [1,3,5,7]
print(li1)

li2 = list([1,3,5])
print(li2)

li3 = ['김사과', '오렌지', ' 반하나', '이메론']
print(li3)

li4 = [1, 1.5, '김사과', True] # 타입이 다른 데이터를 포함, 개수도 미리 설정하지 않아도 됨
print(li4)

li5 = [1,2,'파이썬', ['김사과','오렌지']]
print(li5)

[1, 3, 5, 7]
[1, 3, 5]
['김사과', '오렌지', ' 반하나', '이메론']
[1, 1.5, '김사과', True]
[1, 2, '파이썬', ['김사과', '오렌지']]

In [10]:
# 2. 리스트 인덱싱

li1 = [1,3,5,7]
print(li1[0])
print(li1[1])
print(li1[-1])
print(li1[0] + li1[2])


li2 = ['김사과', ' 반하나', '오렌지', ['❤️', '😊','😂'] ]
print(li2[0])
print(li2[-1])
print(li2[-1][1])

1
3
7
6
김사과
['❤️', '😊', '😂']
😊